* {
    box-sizing: border-box;
}
.header {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #0050b3;
}
.header-block {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-input {
    padding: 5px 30px 5px 12px;
    width: 350px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-image: url("../img/icon/search.svg");
    background-repeat: no-repeat;
    background-position: right 12px center;
}
.navigation {
    display: flex;
    align-items: center;

    font-weight:600;
    font-size: 14px;
    line-height: 22px;
}
.user {
    display: flex;
    align-items: center;
}
.user-avatar {
    margin-right: 8px;
}
.user-name {
    color: #fff;
}
.navigation-panel {
    margin-left: 12px;
    display: flex;
    align-items: center;
}
.navigation-link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-left: 12px;
}
.navigation-link:before {
    content: "";
    width: 1px;
    height: 16px;
    background-color: #003a8c;
    margin-right: 12px;
}
.navigation-link:last-child:after {
    content: "";
    width: 1px;
    height: 16px;
    background-color: #003a8c;
    margin-left: 12px;
}
.icons-panel {
    display: flex;
    align-items: center;
    align-items: center;
}
.icon-link {
    display: flex;
    align-items: center;
    margin-left: 17px;
}
.header-icon {
    fill: #002766;
}
.header-icon:hover {
    fill: white;
}
.icon-link:last-child:before {
    content: "";
    width: 1px;
    height: 16px;
    background-color: #003a8c;
    margin-right: 12px;
}